# COVID-19 Small Dataset

------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('./Data/4. covid_19_data.csv')

In [5]:
data.head(2)

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Questions

## Q) 1. Show the number of Confirmed, Deaths and Recovered cases in each Region

In [6]:
data.groupby('Region').sum()

                    Confirmed  Deaths  Recovered
Region
Afghanistan              1939      60        252
Albania                   766      30        455
Algeria                  3848     444       1702
Andorra                   743      42        423
Angola                     27       2          7
...                       ...     ...        ...
West Bank and Gaza        344       2         71
Western Sahara              6       0          5
Yemen                       6       0          1
Zambia                     97       3         54
Zimbabwe                   32       4          5

[187 rows x 3 columns]

In [9]:
# data.groupby('Region')['Confirmed'].sum().sort_values(ascending = False).head(10)

## Q) 2. Remove all the records where Confirmed Cases is Less Than 10

In [12]:
# filter
condition = data['Confirmed'] < 10

data = data[~condition]

In [13]:
data.head(5)

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

## Q) 3. In which Region, maximum number of Confirmed cases were recorded?

In [16]:
# filter
condition = data['Confirmed'] == data['Confirmed'].max()

data[condition]['Region']

265    US
Name: Region, dtype: object

In [18]:
data.groupby('Region')['Confirmed'].sum().sort_values(ascending = False).head(5)

Region
US        1039909
Spain      236899
Italy      203591
France     166536
UK         166432
Name: Confirmed, dtype: int64

## Q) 4. In which Region, mimum number of Deaths cases were recorded?

In [22]:
# filter
condition = data['Deaths'] == data['Deaths'].min()

data[condition]['Region']

29                             Cambodia
31             Central African Republic
45                             Dominica
51                              Eritrea
55                                 Fiji
64                              Grenada
70                             Holy See
90                                 Laos
99                           Madagascar
110                            Mongolia
113                          Mozambique
114                             Namibia
115                               Nepal
135                              Rwanda
136               Saint Kitts and Nevis
137                         Saint Lucia
138    Saint Vincent and the Grenadines
144                          Seychelles
152                         South Sudan
163                         Timor-Leste
169                              Uganda
175                             Vietnam
204                                  US
206                                  UK
207                             Denmark
210                              France
214                                  UK
215                              Canada
217                             Denmark
237                      Mainland China
244                               Macau
259                              Canada
260                              France
267                      Mainland China
271                           Australia
279                              Canada
281                      Mainland China
286                              France
294                      Mainland China
318                              Canada
Name: Region, dtype: object

In [25]:
data.groupby('Region')['Deaths'].sum().sort_values(ascending = True)

Region
Cambodia                        0
Seychelles                      0
Saint Lucia                     0
Central African Republic        0
Saint Kitts and Nevis           0
                            ...
France                      24121
Spain                       24275
UK                          26165
Italy                       27682
US                          60967
Name: Deaths, Length: 180, dtype: int64

## Q) 5. How many Confirmed, Deaths & Recovered cases were reported from India till 29 April 2020

In [26]:
condition = data['Region'] == 'India'

data[condition]

         Date State Region  Confirmed  Deaths  Recovered
74  4/29/2020   NaN  India      33062    1079       8437

## Q) 6-A. Sort the entire data wrt No. of Confirmed cases in ascending order.

In [27]:
data.sort_values(by = 'Confirmed', ascending = True)

          Date      State    Region  Confirmed  Deaths  Recovered
156  4/29/2020        NaN  Suriname         10       1          8
70   4/29/2020        NaN  Holy See         10       0          2
59   4/29/2020        NaN    Gambia         10       1          8
318  4/29/2020      Yukon    Canada         11       0          0
217  4/29/2020  Greenland   Denmark         11       0         11
..         ...        ...       ...        ...     ...        ...
57   4/29/2020        NaN    France     165093   24087      48228
168  4/29/2020        NaN        UK     165221   26097          0
80   4/29/2020        NaN     Italy     203591   27682      71252
153  4/29/2020        NaN     Spain     236899   24275     132929
265  4/29/2020   New York        US     299691   23477          0

[304 rows x 6 columns]

## Q) 6-B. Sort the entire data wrt No. of Recovered cases in descending order.

In [28]:
data.sort_values(by = 'Recovered', ascending = False)

          Date     State          Region  Confirmed  Deaths  Recovered
153  4/29/2020       NaN           Spain     236899   24275     132929
61   4/29/2020       NaN         Germany     161539    6467     120400
76   4/29/2020       NaN            Iran      93657    5957      73791
80   4/29/2020       NaN           Italy     203591   27682      71252
229  4/29/2020     Hubei  Mainland China      68128    4512      63616
..         ...       ...             ...        ...     ...        ...
258  4/29/2020    Nevada              US       4934     230          0
257  4/29/2020  Nebraska              US       3851      56          0
255  4/29/2020   Montana              US        451      16          0
254  4/29/2020  Missouri              US       7660     338          0
274  4/29/2020      Ohio              US      17303     937          0

[304 rows x 6 columns]

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# The End